body {
  margin-left: 30px;
}
.ten {
  width: 246px;
  height: 60px;
  background-color: black;
  margin-top: -10px;
}
.ten1 {
  color: white;
  width: 200px;
  height: 20px;
  padding-top: 30px;
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.tieude {
  margin-left: 50px;
  text-transform: uppercase;
  opacity: 0.5;
}
.hinhanh {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  /* margin-left: 20px; */
}

.contaner {
  display: flex;
  width: 100%;
  max-width: 800px;
}
.profile {
  width: 200px;
  height: 800px;
  font-weight: 100px;
  padding-left: 46px;
  background-color: black;
  color: white;
}

.phai {
  width: 400px;
  height: 800px;

  margin-left: 20px;
}
.box.box1 {
  display: inline-flex;
  width: 400px;
  height: 120px;
}
.chauk {
  margin-left: 30px;
}
.chaukh {
  margin-left: 30px;
}
.kh {
  width: 70px;
  height: 120px;
}

.box.box2 {
  display: inline-flex;
  width: 400px;
  height: 120px;
}
.chauk2 {
  margin-left: 30px;
}
.chaukh2 {
  margin-left: 30px;
}
.kh2 {
  width: 70px;
  height: 120px;
}
